:root{
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-link-color:#212121;
    --secondary-link-color:#2196F3;
      }
body {
        background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.currentLink {
    color: var(--secondary-link-color); 
}

ul { list-style: none; }
/* Убираем подчёркивание */

a {
    text-decoration: none; 
   }
/* logo */

.logo .logo-web{
    color: #2196F3;
    font-family: Raleway;
}
.logo .logo-studio-header{
    color: var(--primary-link-color);
    font-family: Raleway;
}
.logo .logo-studio-footer{
    color: #FFFFFF;
    font-family: Raleway;
}

.site-nav .link{
    color: var(--primary-text-color);
  
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.site-nav .link:hover {
    color: var(--secondary-link-color); 
}
.site-nav .link:focus{
    color: var(--secondary-link-color);
}

/*Button*/
.button{
    color: #212121;
    background: #F5F4FA
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
}
.button:hover {
    background: var(--secondary-link-color); 
    color: #FFFFFF;
}
.button:focus { 
    background: var(--secondary-link-color); 
    color: #FFFFFF;
}
.examples-primary{
    color: var(--secondary-text-color);
font-weight: bold;
font-size: 18px;
line-height: 2;
}
.examples-secondary{
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 16px;
line-height: 1.88px;
}
.adress{
    color: #FFFFFF;;
       
    font-size: 14px;
    line-height: 1.71;
    }
.adress:hover {
    color: var(--secondary-link-color); 
}
.adress:focus{
    color: var(--secondary-link-color);
}
.contacts{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}
.contacts:hover {
    color: var(--secondary-link-color); 
}
.contacts:focus{
    color: var(--secondary-link-color);